.custom-dropdown .dropdown-toggle::after {
  display: none;
}
.custom-dropdown .dropdown-menu {
  background-color: #192042;
}

.custom-dropdown .active-dropdown-item {
  background-color: #084ca4;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #084ca4;
}

$primary: #084ca4;
$secondary: #d9d9d9;
$success: green;
$info: #03feeb;
$warning: #e48c44;
$danger: red;
$light: white;
$dark: #192042;

.custom-background {
  background: linear-gradient(180deg, #f8faee 15%, #f1efe7 calc(100% - 0px));
}

@import "bootstrap/scss/bootstrap";
